@font-face{
    font-family: 'gymFont';
    src: url('assets/fonts/Blade Knight Italic.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.164)), url('/background-academia.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.fontGym {
    font-family: 'gymFont', sans-serif;
    font-size: 100px;
    color: #cc6300;
    text-shadow: 0 0 15px #0f94ac;
}

.fontGym2 {
    font-family: 'gymFont', sans-serif;
    font-size: 100px;
    color: #cc6300;
    text-shadow: 0 0 15px #0f94ac;
    margin-left: 200px;
}

.textoCard {
    margin-right: 130px;
    color: aliceblue;
}

.cardLogin {
    background-color: rgba(36, 36, 37, 0.884);
    min-height: 200px;
    width: 300px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:  solid rgba(197, 14, 14, 0.26);
    border-radius: 15px;
}
